.ttl {
    &-xxl,
    &-xl,
    &-lg,
    &-md,
    &-sm,
    &-xs {
        font-family: 'Raleway', sans-serif;
    }

    &-xxl {
        font-weight: 700;
        font-size: to-rem(34);
        letter-spacing: to-rem(5);

        @include layout-768() {
            font-size: to-rem(55);
            letter-spacing: to-rem(13);
        }

        @include layout-1024() {
            font-size: to-rem(55);
            letter-spacing: to-rem(13);
        }

        @include layout-1680() {
            font-size: to-rem(89);
            letter-spacing: to-rem(21);
        }

        @include layout-2560() {
            font-size: to-rem(144);
            letter-spacing: to-rem(55);
        }

        @include layout-3840() {
            font-size: to-rem(233);
        }
    }

    &-xl {
        font-weight: 700;
        font-size: to-rem(21);
        letter-spacing: to-rem(8);

        @include layout-768() {
            font-size: to-rem(55);
            letter-spacing: to-rem(13);
        }

        @include layout-1024() {
            font-size: to-rem(89);
            letter-spacing: to-rem(21);
        }

        @include layout-2560() {
            font-size: to-rem(144);
            letter-spacing: to-rem(34);
        }
    }

    &-lg {
        font-weight: 700;
        font-size: to-rem(21);

        @include layout-768() {
            font-size: to-rem(34);
        }

        @include layout-1440() {
            font-size: to-rem(55);
        }

        @include layout-1560() {
            font-size: to-rem(89);
        }
    }

    &-md {
        font-weight: 400;
        font-size: to-rem(21);
        letter-spacing: to-rem(13);

        @include layout-768() {
            font-weight: 200;
            font-size: to-rem(34);
        }
    }

    &-sm,
    &-xs {
        font-weight: 200;
    }

    &-sm {
        font-weight: 400;
        letter-spacing: to-rem(2);
        font-size: to-rem(13);
        text-transform: uppercase;

        @include layout-768() {
            font-weight: 300;
            font-size: to-rem(21);
            text-transform: initial;
            letter-spacing: to-rem(3);
        }

        @include layout-2560() {
            font-size: to-rem(34);
            letter-spacing: to-rem(5);
        }
    }

    &-xs {
        font-size: to-rem(13);

        @include layout-2560() {
            font-size: to-rem(21);
        }
    }
}

.txt {
    &-lg,
    &-md,
    &-sm,
    &-xs {
        font-family: 'Montserrat Alternates', sans-serif;
    }

    &-lg {
        font-weight: 200;

        font-size: to-rem(21);

        @include layout-1024() {
            font-size: to-rem(34);
        }
    }

    &-md,
    &-sm {
        font-weight: 300;
        font-size: to-rem(13);
        line-height: to-rem(21);

        @include layout-1680() {
            font-size: to-rem(21);
            line-height: to-rem(34);
        }
    }

    &-md {
        @include layout-2560() {
            font-size: to-rem(34);
            line-height: to-rem(55);
        }
    }


    &-sm {
        font-size: to-rem(13);
        line-height: to-rem(21);

        @include layout-2560() {
            font-size: to-rem(21);
            line-height: to-rem(34);
        }
    }

    &-xs {
        font-size: to-rem(8);
        line-height: to-rem(13);

        @include layout-2560() {
            font-size: to-rem(13);
            line-height: to-rem(21);
        }
    }
}

.ttl-special {
    font-family: 'Black Ops One', monospace;
}