.ttl {
    &-xl,
    &-lg,
    &-md,
    &-sm,
    &-xs {
        font-family: 'Raleway', sans-serif;
    }

    &-xl,
    &-lg,
    &-md {
        font-weight: 100;
        letter-spacing: top-em(10);
    }

    &-xl {
        font-size: to-rem(104);
        letter-spacing: to-rem(21);
    }

    &-lg {
        font-size: to-rem(64);
    }

    &-md {
        font-size: to-rem(32);
    }

    &-sm,
    &-xs {
        font-weight: 200;
    }

    &-sm {
        letter-spacing: to-rem(2.5);
        font-size: to-rem(21);
    }

    &-xs {
        font-size: to-rem(14);
    }
}

.txt {
    &-lg,
    &-md,
    &-sm {
        font-family: 'Montserrat Alternates', sans-serif;
    }

    &-lg {
        font-weight: 200;
        font-size: to-rem(32);
    }

    &-md,
    &-sm {
        font-weight: 300;
        font-size: to-rem(21);
    }


    &-sm {
        font-size: to-rem(16);
        line-height: to-rem(24);
    }
}