.ttl {
    &-xxl,
    &-xl,
    &-lg,
    &-md,
    &-sm,
    &-xs {
        font-family: 'Raleway', sans-serif;
    }

    &-xl,
    &-lg,
    &-md {
        font-weight: 100;
        letter-spacing: top-em(10);
    }

    &-xxl {
        font-size: to-rem(32);
        letter-spacing: to-rem(21);

        @mixin layout-1680() {
            font-size: to-rem(55);
        }

        @include layout-2560() {
            font-size: to-rem(89);
        }

        @include layout-3840() {
            font-size: to-rem(144);
        }
    }

    &-xl {
        font-size: to-rem(89);
        letter-spacing: to-rem(21);
    }

    &-lg {
        font-size: to-rem(34);

        @include layout-1024() {
            font-size: to-rem(55);
        }
    }

    &-md {
        font-size: to-rem(34);
    }

    &-sm,
    &-xs {
        font-weight: 200;
    }

    &-sm {
        letter-spacing: to-rem(2.5);
        font-size: to-rem(21);
    }

    &-xs {
        font-size: to-rem(13);
    }
}

.txt {
    &-lg,
    &-md,
    &-sm {
        font-family: 'Montserrat Alternates', sans-serif;
    }

    &-lg {
        font-weight: 200;

        font-size: to-rem(21);

        @include layout-1024() {
            font-size: to-rem(34);
        }
    }

    &-md,
    &-sm {
        font-weight: 300;
        font-size: to-rem(21);
    }


    &-sm {
        font-size: to-rem(13);
        line-height: to-rem(24);
    }
}