@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_placeholders';
@import '_structure';

#nav {
    @extend %MAXAREA;
    z-index: 100;
    left: 0;
    top: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
    width: 100%;
    box-sizing: border-box;

    a {
      @extend .ttl-xs   ;

      font-weight: bold;
      color: var(--grey);
      text-decoration: none;

      &:hover,
      &:focus {
          text-decoration: line-through;
      }
  
      // &.router-link-exact-active {
      //   color: white;
      // }
    }
  }