@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_placeholders';

.portfolio {
    @extend %MAXAREA;

    &-grid {
        display: grid;
        grid-gap: to-rem($F9);
        padding: to-rem($F11) 0;
        max-width: 100vw;

        @include layout-1024() {
            grid-gap: to-rem($F11);
            padding: to-rem($F11) 0;
        }

        @include layout-1440() {
            grid-gap: to-rem($F12);
            padding: to-rem($F12) 0;
        }

        @include layout-2560() {
            grid-gap: to-rem($F13);
            padding: to-rem($F13) 0;
        }
    }

    &-title {
        text-align: left;
        padding-bottom: to-rem($F8);
        overflow: hidden;

        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        opacity: .025;

        &-marquee {
            @extend .ttl-special;

            width: fit-content;
            white-space: nowrap;

            font-size: to-rem($F12);
            line-height: to-rem($F12);

            @include layout-768() {
                font-size: to-rem($F11);
                line-height: to-rem($F11);
            }

            @include layout-1280() {
                font-size: to-rem($F12);
                line-height: to-rem($F12);
            }

            @include layout-1440() {
                font-size: to-rem($F12);
                line-height: to-rem($F12);
            }

            @include layout-2560() {
                font-size: to-rem($F14);
                line-height: to-rem($F14);
            }

            animation: marquee-keyframe 320s linear infinite;
        }
    }

    &-item {
        grid-column: 1 /  span 2;
        border-bottom: 2px solid $color-grey-2;

        &:nth-of-type(even) {
            .portfolio-item-link {
                flex-direction: row-reverse;
            }

            .portfolio-item-label {
                @include layout-1024() {
                    padding-right: to-rem($F9);
                }

                @include layout-1440() {
                    padding-right: to-rem($F10);
                }

                @include layout-1680() {
                    padding-right: to-rem($F11);
                }

                @include layout-2560() {
                    padding-right: to-rem($F12);
                }
            }
        }


        &-link {
            display: block;
            cursor: none;

            .has_touch & {
                cursor: pointer;
            }

            @include layout-1024() {
                display: flex;
                align-items: center;
            }
        }

        &-computer {
            width: 100%;
            position: relative;
            display: inline-block;
            aspect-ratio: 16/11;

            @include layout-1024() {
                width: 60%;
            }

            &-frame {
                width: 100%;
                height: 70%;
                position: relative;
                border: 1px solid $color-grey-2;
                box-sizing: border-box;
            }

            &-screen {
                width: 100%;
                height: 100%;
                position: relative;
                border: to-em(10) solid white;
                box-sizing: border-box;

                &-image {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $color-grey-2;
                    box-sizing: border-box;
                    overflow: hidden;


                    &-item-1,
                    &-item-2 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &-item-1 {
                        mix-blend-mode: multiply;
                        opacity: 1;

                        @media (pointer: coarse) {
                            display: none;
                        }

                        .portfolio-item-link:hover &,
                        .portfolio-item-link:focus & {
                            opacity: 0;
                        }
                    }

                    &-item-2 {
                        opacity: 0;

                        @media (pointer: coarse) {
                            transition: opacity 1s ease-in-out;
                            opacity: 1;
                        }

                        .portfolio-item-link:hover &,
                        .portfolio-item-link:focus & {
                            opacity: 1;
                        }
                    }
                }
            }

            &-chin {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                border: 1px solid $color-grey-2;
                box-sizing: border-box;
                border-top: none;
                width: 100%;
                height: 15%;
                margin: 0 auto;
                background: $color-grey-2;
            }

            &-stand {
                position: relative;
                border: 1px solid $color-grey-2;
                border-top: none;
                width: 15%;
                height: 13%;
                margin: 0 auto;
                background: $color-grey-2;
            }

            &-base {
                position: relative;
                border: 1px solid $color-grey-2;
                border-top: none;
                width: 30%;
                height: 2%;
                margin: 0 auto;
                background: $color-grey-2;
                border-radius: 15px;
            }
        }

        &-label {
            @include layout-1024() {
                width: 40%;
            }

            &-title {
                @extend .ttl-lg;

                padding-bottom: to-rem($F7);
            }
            
            &-description {
                @extend .txt-md;

                display: inline;
                background: $color-white;
            }

            &-button {
                @extend .txt-sm;

                display: block;
                margin: to-rem($F7) 0;
                text-decoration: underline;
                color: var(--black);
            }

            padding-top: to-rem($F9);

            @include layout-1024() {
                padding-top: 0;
                padding-left: to-rem($F10);
            }

            @include layout-1280() {
                padding-left: to-rem($F11);
            }

            @include layout-1680() {
                padding-left: to-rem($F12);
            }

            @include layout-2560() {
                padding-left: to-rem($F12);
            }
        }
    }
}