@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_placeholders';

.cover {
    @extend %MAXAREA;

    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 2/3;

    @include layout-768() {
        aspect-ratio: 1/1;
    }

    @include layout-1024() {
        aspect-ratio: 16/10;
    }

    @include layout-1280() {
        aspect-ratio: 16/9;
    }


    &-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        width: to-rem($F13);
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        @include layout-768() {
            width: to-rem($F14);
        }

        @include layout-1024() {
            margin-top: to-rem($F11 * -1);
        }

        @include layout-2560() {
            width: to-rem($F15);
        }

        h2 {
            @extend .ttl-lg;

            margin: to-rem($F8) 0;
        }

        span {
            @extend .txt-md;
        }
    }

    &-links {
        @extend .ttl-sm;

        transition: box-shadow .5s ease-in-out;

        box-sizing: border-box;
        border: to-rem($F1) solid var(--grey-2);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;

        &.ptf {
            box-shadow: 0 0 to-rem($F8) 0 $color-turquoise inset;
            animation: bounce-2 10s linear infinite;
            bottom: to-vw($F1 * 1px, $vw-320);
            right: to-vw($F12 * 1px, $vw-320);
            width: to-vw($F12 * 1px, $vw-320);
            height: to-vw($F12 * 1px, $vw-320);
            color: $color-turquoise;

            @include layout-768() {
                box-shadow: 0 0 to-rem($F10) 0 $color-turquoise inset;
                bottom: to-vw($F12 * -1px, $vw-768);
                right: to-vw($F14 * 1px, $vw-768);
                width: to-vw($F14 * 1px, $vw-768);
                height: to-vw($F14 * 1px, $vw-768);
            }

            @include layout-1024() {
                box-shadow: 0 0 to-rem($F8) 0 $color-turquoise inset;
                bottom: to-vw($F2 * 1px, $vw-1024);
                right: to-vw($F13 * 1px, $vw-1024);
                width: to-vw($F13 * 1px, $vw-1024);
                height: to-vw($F13 * 1px, $vw-1024);
            }

            @include layout-1280() {
                bottom: to-vw($F12 * 1px, $vw-1280);
                right: to-vw($F14 * 1px, $vw-1280);
                width: to-vw($F13 * 1px, $vw-1280);
                height: to-vw($F13 * 1px, $vw-1280);
            }

            @include layout-1440() {
                bottom: to-vw($F12 * 1px, $vw-1440);
                right: to-vw($F15 * 1px, $vw-1440);
                width: to-vw($F13 * 1px, $vw-1440);
                height: to-vw($F13 * 1px, $vw-1440);
            }

            @include layout-1680() {
                box-shadow: 0 0 to-rem($F10) 0 $color-turquoise inset;
                bottom: to-vw($F12 * 1px, $vw-1680);
                right: to-vw($F15 * 1px, $vw-1680);
                width: to-vw($F13 * 1px, $vw-1680);
                height: to-vw($F13 * 1px, $vw-1680);
            }

            &:focus,
            &:hover {
                box-shadow: 0 0 to-rem($F7) 0 $color-turquoise inset;
            }
        }

        &.cnt {
            box-shadow: 0 0 to-rem($F8) 0 $color-orange inset;
            right: to-vw($F9 * -1px, $vw-320);
            top: to-vw($F9 * -1px, $vw-320);
            width: to-vw($F13 * 1px, $vw-320);
            height: to-vw($F13 * 1px, $vw-320);
            animation: bounce-1 20s linear infinite;
            color: $color-orange;

            @include layout-768() {
                box-shadow: 0 0 to-rem($F10) 0 $color-orange inset;
                right: to-vw($F11 * -1px, $vw-768);
                top: to-vw($F9 * -1px, $vw-768);
                width: to-vw($F14 * 1px, $vw-768);
                height: to-vw($F14 * 1px, $vw-768);
            }

            @include layout-1024() {
                box-shadow: 0 0 to-rem($F8) 0 $color-orange inset;
                right: to-vw($F10 * -1px, $vw-1024);
                top: to-vw($F10 * 1px, $vw-1024);
                width: to-vw($F14 * 1px, $vw-1024);
                height: to-vw($F14 * 1px, $vw-1024);
            }

            @include layout-1280() {
                right: 0;
                top: to-vw($F10 * 1px, $vw-1280);
                width: to-vw($F14 * 1px, $vw-1280);
                height: to-vw($F14 * 1px, $vw-1280);
            }

            @include layout-1440() {
                top: to-vw($F8 * -1px, $vw-1440);
                width: to-vw($F15 * 1px, $vw-1440);
                height: to-vw($F15 * 1px, $vw-1440);
            }

            @include layout-1680() {
                box-shadow: 0 0 to-rem($F10) 0 $color-orange inset;
                top: to-vw($F2 * -1px, $vw-1680);
                width: to-vw($F15 * 1px, $vw-1680);
                height: to-vw($F15 * 1px, $vw-1680);
            }

            &:focus,
            &:hover {
                box-shadow: 0 0 to-rem($F7) 0 $color-orange inset;
            }
        }

        &.abt {
            box-shadow: 0 0 to-rem($F8) 0 $color-pink inset;
            bottom: to-vw($F11 * -1px, $vw-320);
            right: to-vw($F5 * -1px, $vw-320);
            width: to-vw($F12 * 1px, $vw-320);
            height: to-vw($F12 * 1px, $vw-320);
            animation: bounce-3 10s linear infinite;
            color: $color-pink;

            @include layout-768() {
                box-shadow: 0 0 to-rem($F8) 0 $color-pink inset;
                bottom: to-vw($F12 * -1px, $vw-768);
                right: to-vw($F8 * -1px, $vw-768);
                width: to-vw($F13 * 1px, $vw-768);
                height: to-vw($F13 * 1px, $vw-768);
            }

            @include layout-1024() {
                box-shadow: 0 0 to-rem($F8) 0 $color-pink inset;
                bottom: to-vw($F10 * -1px, $vw-1024);
                right: to-vw($F10 * -1px, $vw-1024);
                width: to-vw($F13 * 1px, $vw-1024);
                height: to-vw($F13 * 1px, $vw-1024);
            }

            @include layout-1280() {
                bottom: to-vw($F9 * 1px, $vw-1280);
                right: to-vw($F10 * 1px, $vw-1280);
                width: to-vw($F13 * 1px, $vw-1280);
                height: to-vw($F13 * 1px, $vw-1280);
            }

            @include layout-1440() {
                bottom: to-vw($F9 * -1px, $vw-1440);
                right: to-vw($F12 * 1px, $vw-1440);
                width: to-vw($F13 * 1px, $vw-1440);
                height: to-vw($F13 * 1px, $vw-1440);
            }

            @include layout-1680() {
                box-shadow: 0 0 to-rem($F10) 0 $color-pink inset;
                bottom: to-vw($F8 * -1px, $vw-1680);
                right: to-vw($F12 * 1px, $vw-1680);
                width: to-vw($F13 * 1px, $vw-1680);
                height: to-vw($F13 * 1px, $vw-1680);
            }

            &:focus,
            &:hover {
                box-shadow: 0 0 to-rem($F7) 0 $color-pink inset;
            }
        }
    }
}

.awards {
    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: to-rem($F10);
        padding: 0;
        margin: 0;
    }

    &-item {
        &-link {
            text-decoration: none;
            box-sizing: border-box;
            color: var(--black);
            display: grid;
            border-radius: to-rem($F5);
            border: 1px solid var(--grey-2);
            grid-template-rows: to-rem($F14) to-rem($F10);
            grid-template-columns: auto to-rem($F9);
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &-icon {
                @extend .ttl-md;

                box-sizing: border-box;
                text-align: center;
                height: 100%;
                line-height: to-rem($F10);
                margin: 0;
            }

            &-media {
                overflow: hidden;
                width: 100%;
                height: 100%;
                grid-row: 1;
                grid-column-start: 1;
                grid-column-end: -1;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--black);
                margin: 0;
                object-fit: cover
            }

            &-text {
                @extend .ttl-sm;

                transition: opacity .3s ease-in;
                padding: 0 to-rem($F8);
                margin: 0;
                height: 100%;
                line-height: to-rem($F10);
                box-sizing: border-box;
                text-align: center;

                .awards-item-link:hover &,
                .awards-item-link:focus & {
                    opacity: .5;
                }
            }
        }
    }
}

.portfolio {
    &-grid {
        display: grid;
        grid-gap: to-rem($F8);
        max-width: 100vw;

        @include layout-1024() {
            grid-gap: to-rem($F11);
        }

        @include layout-1440() {
            grid-gap: to-rem($F12);
        }

        @include layout-2560() {
            grid-gap: to-rem($F14);
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-item {
        grid-column: 1 /  span 2;
        border-bottom: 2px solid $color-pink;

        &:nth-of-type(even) {
            .portfolio-item-link {
                flex-direction: row-reverse;
            }

            .portfolio-item-label {
                @include layout-1024() {
                    padding-right: to-rem($F9);
                }

                @include layout-1440() {
                    padding-right: to-rem($F10);
                }

                @include layout-1680() {
                    padding-right: to-rem($F11);
                }

                @include layout-2560() {
                    padding-right: to-rem($F12);
                }
            }
        }

        &-link {
            display: block;

            @include layout-1024() {
                display: flex;
                align-items: center;
            }
        }

        &-computer {
            width: 100%;
            position: relative;
            display: inline-block;
            aspect-ratio: 16/11;

            @include layout-1024() {
                width: 50%;
            }

            &-frame {
                width: 100%;
                height: 70%;
                position: relative;
                border: 1px solid $color-pink;
                box-sizing: border-box;
            }

            &-screen {
                width: 100%;
                height: 100%;
                position: relative;
                border: 10px solid white;
                box-sizing: border-box;

                &-image {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $color-pink;
                    box-sizing: border-box;
                    overflow: hidden;

                    &-toggle-1,
                    &-toggle-2 {
                        transition: opacity .5s ease-in;
                        position: absolute;
                    }

                    &-toggle-1 {
                        @extend .ttl-sm;

                        top: 50%;
                        left: 0;
                        width: 100%;
                        transform: translate(0, -50%);
                        opacity: 0;
                        text-align: center;

                        .portfolio-item-link:hover & {
                            opacity: 1;
                        }
                    }

                    &-toggle-2 {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        opacity: 1;

                        .portfolio-item-link:hover & {
                            opacity: 0;
                        }
                    }
                }
            }

            &-chin {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                border: 1px solid $color-pink;
                box-sizing: border-box;
                border-top: none;
                width: 100%;
                height: 15%;
                margin: 0 auto;
                background: $color-pink;
            }

            &-stand {
                position: relative;
                border: 1px solid $color-pink;
                border-top: none;
                width: 15%;
                height: 13%;
                margin: 0 auto;
                background: $color-pink;
            }

            &-base {
                position: relative;
                border: 1px solid $color-pink;
                border-top: none;
                width: 30%;
                height: 2%;
                margin: 0 auto;
                background: $color-pink;
                border-radius: 15px;
            }
        }

        &-label {
            @include layout-1024() {
                width: 50%;
            }

            &-title {
                @extend .ttl-lg;

                padding-bottom: to-rem($F7);
            }
            
            &-description {
                @extend .txt-md;
            }

            &-button {
                @extend .txt-sm;

                margin: to-rem($F7) 0;
                text-decoration: underline;
                color: var(--black);
            }

            padding-top: to-rem($F9);

            @include layout-1024() {
                padding-top: 0;
                padding-left: to-rem($F10);
            }

            @include layout-1280() {
                padding-left: to-rem($F11);
            }

            @include layout-1680() {
                padding-left: to-rem($F12);
            }

            @include layout-2560() {
                padding-left: to-rem($F12);
            }
        }
    }
}

.awards {
    &-grid {
        grid-template-columns: repeat(1, 1fr);

        @include layout-768() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include layout-1280() {
            grid-template-columns: repeat(4, 1fr);
        }

        @include layout-1560() {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &-item {
        &:first-of-type {
            @include layout-768() {
                grid-column: 1 / span 2;
            }

            @include layout-1280() {
                grid-column: 1 / span 4;
            }

            @include layout-1560() {
                grid-column: 1 / span 1;
            }
        }

        &-link {
            position: relative;
            display: flex;
            flex-direction: column;

            &-text {
                @extend .ttl-xs;

                line-height: to-rem($F8);
                font-weight: 400;
                text-align: left;

                padding: to-rem($F8) to-rem($F7) to-rem($F11);
                height: auto;
            }

            &-media {
                font-size: to-rem($F12);
                height: to-rem($F14);

                @include layout-1024() {
                    height: to-rem($F15);
                }

                @include layout-1280() {
                    height: to-rem($F14);
                }

                @include layout-2560() {
                    height: to-rem($F15);
                }

                @include layout-3840() {
                    height: to-rem($F16);
                }
            }

            &-year {
                @extend .ttl-xs;

                white-space: nowrap;
                text-overflow: ellipsis;
                position: absolute;
                text-align: center;
                border-top: 1px solid var(--grey-2);
                padding: to-rem($F7);
                margin: 0;
                bottom: 0;
            }
        }
    }
}

.about {
    &-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin: 0;
        padding: 0;
        grid-gap: to-rem($F8);
        border-bottom: 2px solid $color-blue;

        @include layout-768() {
            grid-gap: to-rem($F8);
        }

        @include layout-1024() {
            
        }

        @include layout-1280() {
            grid-template-columns: repeat(2, auto);
            grid-gap: to-rem($F10);
        }

        @include layout-2560() {
            grid-gap: to-rem($F12);
        }

    }

    &-item {
        box-sizing: border-box;
        position: relative;

        &-text {
            @extend .txt-md;
            padding-bottom: to-rem($F7);


            @include layout-768() {
                padding-bottom: to-rem($F8);
            }

            @include layout-1280() {
                padding-bottom: to-rem($F9);
            }

            @include layout-1680() {
                padding-bottom: to-rem($F10);
            }
        }
    }

    &-draw {
        background: $color-blue;

        aspect-ratio: 9/16;
        position: relative;
        box-sizing: border-box;
        width: to-rem(180);
        border-radius: to-rem($F6);
        margin-bottom: to-rem($F9);
        margin-left: to-rem($F8);
        transform: rotateZ(352deg); 

        @include layout-375() {
            float: left;
            width: to-rem(160);
            border-radius: to-rem($F6);
            margin-right: to-rem($F9);
            margin-bottom: to-rem($F8);
            margin-left: 0;
            transform: rotateZ(354deg);
        }

        @include layout-540() {
            width: to-rem(180);
            transform: rotateZ(352deg); 
        }

        @include layout-768() {
            width: to-rem(240);
            border-radius: to-rem($F6);
            margin-right: to-rem($F10);
            margin-bottom: 0;
            transform: rotateZ(350deg); 
        }

        @include layout-1024() {
            width: to-rem(180);
            border-radius: to-rem($F6);
            margin-right: to-rem($F11);
        }

        @include layout-1280() {
            width: to-rem(180);
            margin-right: to-rem($F9);
            margin-bottom: to-rem($F8);
            transform: initial;
        }

        @include layout-1440() {
            width: to-rem(240);
            border-radius: to-rem($F7);
            margin-right: to-rem($F10);
            margin-bottom: to-rem($F9);
        }

        @include layout-1920() {
            width: to-rem(320);
            border-radius: to-rem($F7);
            margin-right: to-rem($F11);
            margin-bottom: to-rem($F9);
        }

        @include layout-2560() {
            width: to-rem(520);
            border-radius: to-rem($F8);
            margin-right: to-rem($F12);
            margin-bottom: to-rem($F10);
        }

        @include layout-3840() {
            width: to-rem(640);
        }

        &-mic {
            width: 1.5%;
            aspect-ratio: 1/1;
            box-sizing: border-box;
            margin: 0 auto 0;
            position: absolute;
            left: 50%;
            top: 1.5%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background: var(--white);
        }

        &-speaker {
            width: 10%;
            aspect-ratio: 10/1;
            box-sizing: border-box;
            margin: 0 auto;
            position: absolute;
            left: 60%;
            top: 1.5%;
            transform: translate(-50%, -50%);
            background:var(--white);
        }

        &-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid $color-blue;
            width: 95%;
            height: 95%;
            box-sizing: border-box;
            margin: 5% auto 0;
            background: var(--white);
            position: relative;
            box-sizing: border-box;
            padding: to-rem($F8);

            @include layout-768() {
                padding: to-rem($F9);
            }

            @include layout-1024() {
                padding: to-rem($F8);
            }

            @include layout-1280() {
                padding: to-rem($F8);
            }

            @include layout-1440() {
                padding: to-rem($F9);
            }

            @include layout-1920() {
                padding: to-rem($F10);
            }

            @include layout-2560() {
                padding: to-rem($F10);
            }
        }
    }
}

.portfolio,
.about,
.awards {
    @extend %MAXAREA;
    padding-top: to-rem($F13);

    @include layout-768() {
        padding-top: to-rem($F14);
    }

    @include layout-1024() {
        padding-top: to-rem($F13);
    }

    @include layout-1280() {
        padding-top: to-rem($F12);
    }

    @include layout-1680() {
        padding-top: to-rem($F13);
    }

    @include layout-2560() {
        padding-top: to-rem($F15);
    }


    &-title {
        @extend .ttl-xxl;

        text-align: left;
        padding-bottom: to-rem($F8);

        @include layout-768() {
            padding-bottom: to-rem($F9);
        }

        @include layout-1024() {
            padding-bottom: to-rem($F10);
        }

        @include layout-1440() {
            padding-bottom: to-rem($F11);
        }

        @include layout-2560() {
            padding-bottom: to-rem($F12);
        }
    
    }
}

.about,
.awards {
    padding-top: to-rem($F11);

    @include layout-768() {
        padding-top: to-rem($F12);
    }

    @include layout-1280() {
        padding-top: to-rem($F13);
    }

    @include layout-1440() {
        padding-top: to-rem($F13);
    }

    @include layout-2560() {
        padding-top: to-rem($F15);
    }
}

.contact {
    @extend %MAXAREA;

    margin-top: to-rem($F11);
    padding-top: to-rem($F10);
    padding-bottom: to-rem($F10);
    background-color: var(--black);
    color: var(--white);
    display: block;
    text-align: center;
    max-width: 100%;

    @include layout-768() {
        margin-top: to-rem($F12);
        padding-top: to-rem($F11);
        padding-bottom: to-rem($F10);
    }

    &-title {
        @extend .ttl-lg;

        text-transform: uppercase;
        color: inherit;
        margin: 0;
        padding: 0 to-rem($F7) to-rem($F8);

        @include layout-768() {
            padding: 0 to-rem($F12) to-rem($F9);
        }
    }

    &-social,
    &-other {
        @extend %MAXAREA;
        @extend .ttl-xs;

        color: inherit;

        &-link {
            transition: opacity .3s ease-in;
            color: inherit;
            text-decoration: none;

            &:hover,
            &:focus {
                opacity: .5;
            }
        }

        &-separator {
            padding: 0 to-rem($F6);
            font-weight: 200;
            display: none;

            @include layout-768() {
                display: inline-block;
            }

            @include layout-2560() {
                padding: 0 to-rem($F7);
            }
        }
    }

    &-social {
        padding: 0 to-rem($F7) to-rem($F9);
        border-bottom: 1px solid var(--grey);

        @include layout-768() {
            padding: 0 to-rem($F11) to-rem($F7);
        }

        &-link {
            @extend .ttl-sm;

            display: block;
            line-height: to-rem($F10);

            @include layout-768() {
                display: inline-block;
            }
        }
    }

    &-other {
        padding: to-rem($F9) to-rem($F7) 0;

        @include layout-768() {
            padding: to-rem($F7) to-rem($F11) 0;
        }

        &-link {
            @extend .ttl-xs;

            display: block;
            line-height: to-rem($F10);

            @include layout-768() {
                display: inline-block;
            }
        }
    }
}

@keyframes bounce-1 {
    50% {
        transform: translate(20px, -50px);
    }
}
@keyframes bounce-2 {
    50% {
        transform: translate(-20px, 20px);
    }
}
@keyframes bounce-3 {
    50% {
        transform: translate(10px, -30px)
    }
}