@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_placeholders';

.internal {
    &-title {
        @extend .ttl-lg;

        padding: to-rem($F10) to-rem($F8) to-rem($F9);
        text-align: center;

        @include layout-1024() {
            padding: to-rem($F12);
        }
    }

    &-main {
        padding: to-rem($F8);
        box-sizing: border-box;
        background-color: var(--black);

        @include layout-768() {
            padding: to-rem($F10);
        }

        @include layout-1024() {
            padding: to-rem($F12);
        }

        figure {
            position: relative;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
        }

        .render-placeholder {
            display: block;
            position: relative;
            height: auto;
            max-width: 100%;
        }

        .render-media {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;

            @include layout-1024() {
                border-radius: to-rem($F7);
            }
        }
    }

    &-description {
        margin: 0 auto;
        padding: to-rem($F9) to-rem($F8);

        @include layout-768() {
            padding: to-rem($F12) to-rem($F10);
        }

        @include layout-1024() {
            max-width: to-rem($F15);
            padding: to-rem($F12);
        }

        @include layout-1920() {
            max-width: to-rem($F16);
        }


        &-text {
            @extend .txt-md;

            padding-bottom: to-rem($F8);

            @include layout-1920() {
                padding-bottom: to-rem($F9);
            }

            @include layout-2560() {
                padding-bottom: to-rem($F10);
            }
        }

        p::last-of-type {
            padding-bottom: 0;
        }
    }

    &-extra {
        width: 100%;
        box-sizing: border-box;
        background-color: var(--black);
        overflow-x: scroll;
        scroll-snap-align: center;

        /* width */
        &::-webkit-scrollbar {
            height: to-rem($F6);

            @include layout-1024() {
                height: to-rem($F7); 
            }

            @include layout-2560() {
                height: to-rem($F8);
            }
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: var(--black);
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-grey;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $color-grey-2;
        }

        &-scroll {
            padding: to-rem($F9) to-rem($F8) to-rem($F9 - $F6);
            display: block;
            white-space: nowrap;
            width: max-content;
            margin: 0 auto;

            @include layout-768() {
                padding: to-rem($F12) to-rem($F10) to-rem($F12 - $F7);
            }

            @include layout-1024() {
                padding: to-rem($F10) to-rem($F10) to-rem($F10 - $F7);
            }

            @include layout-1440() {
                padding: to-rem($F11) to-rem($F11) to-rem($F11 - $F7);
            }

            @include layout-1920() {
                padding: to-rem($F12) to-rem($F12) to-rem($F12 - $F7);
            }

            @include layout-2560() {
                padding: to-rem($F12) to-rem($F12) to-rem($F12 - $F8);
            }
        }

        &-item {
            position: relative;
            border-radius: to-rem($F5);
            color: var(--grey);
            display: inline-block;
            width: min-content;
            padding: 0 to-rem($F7);
            min-height: 100%;

            @include layout-768() {
                padding: 0 to-rem($F8);
            }

            @include layout-1440() {
                padding: 0 to-rem($F9);
            }

            @include layout-1920() {
                padding: 0 to-rem($F10);
            }

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }


            figure {
                display: block;
                position: relative;
                overflow: hidden;
                border-radius: to-rem($F2);

                @include layout-1024() {
                    background: none;
                    border-radius: to-rem($F7);
                }
            }

            .render-placeholder {
                position: relative;
                width: calc(90vw - #{to-rem($F8 * 2)});
                height: calc(70vh - #{to-rem($F8 * 2)});

                @include layout-768() {
                    width: calc(90vw - #{to-rem($F9 * 2)});
                    height: calc(70vh - #{to-rem($F9 * 2)});
                }

                @include layout-1024() {
                    width: to-rem($F13);
                    height: to-rem($F14);
                }

                @include layout-1440() {
                    
                    width: to-rem($F14);
                    height: to-rem($F15);
                }

                @include layout-2560() {
                    width: to-rem($F15);
                    height: to-rem($F16);
                }
            }

            .render-media {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                border-radius: to-rem($F2);
                box-sizing: border-box;
                border: 1px solid rgba(255, 255 , 255, .15);

                @include layout-1024() {
                    border: none;
                    border-radius: to-rem($F6);
                }

                @include layout-1440() {
                    border-radius: to-rem($F7);
                }
            }

            &.landscape {
                .render-placeholder {
                    @include layout-1024() {
                        width: auto;
                        max-width: calc(100vw - #{to-rem($F10)});
                    }

                    @include layout-1280() {
                        max-width: calc(100vw - #{to-rem($F11)})
                    }

                    @include layout-1440() {
                        max-width: calc(100vw - #{to-rem($F14)})
                    }

                    @include layout-1920() {
                        max-width: calc(100vw - #{to-rem($F13)})
                    }
                }

                .render-media {
                    object-fit: scale-down;
                    object-position: center;

                    @include layout-1024() {
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            label {
                @extend .ttl-xs;

                display: block;
                text-transform: uppercase;
                margin: 0;
                font-variant: all-small-caps;
                color: var(--white);
            }

            &-open {
                display: none;
                top: 0;
                left: 0;
                position: fixed;
                background: rgba(38, 38, 38, .9);
                min-height: 100vh;
                height: auto;
                width: 100vw;
                z-index: 1;

                img {
                    box-sizing: border-box;
                    padding: to-rem($F12);
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    &-expand {
        transition: opacity .3s ease-in;
        cursor: pointer;

        &:hover,
        &:focus {
            opacity: .5;
        }
    }

    &-footer {
        &-title {
            @extend .ttl-lg;

            padding-bottom: to-rem($F5);
            max-width: to-rem($F15);
            margin: 0 auto;
            padding: to-rem($F8) to-rem($F8) to-rem($F7);

            @include layout-1024() {
                padding: to-rem($F12) to-rem($F12) to-rem($F9) ;
            }
        }

        &-related {
            @extend .txt-lg;

            margin: 0 auto;
            padding: 0 to-rem($F8) to-rem($F8);
            letter-spacing: to-rem(2);
            text-align: left;
            color: var(--black);
            list-style: inside circle;

            @include layout-1024() {
                max-width: to-rem($F15);
                padding: 0 to-rem($F12) to-rem($F12);
            }

            &-link {
                display: list-item;
                color: inherit;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: line-through;
                }

                &.router-link-active {
                    display: none;
                }
            }
        }


        &-items {
            @extend .ttl-xs;
    
            text-align: center;
            color: var(--white);
            padding: to-rem($F9) to-rem($F7);
            background: var(--black);

            @include layout-1024() {
                padding: to-rem($F8) to-rem($F12);
            }

            &-separator {
                padding: 0 to-rem($F6);

                @include layout-2560() {
                    padding: 0 to-rem($F7);
                }
            }

            &-link {
                @extend .ttl-xs;

                color: inherit;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: line-through;
                }
            }
        }
    }
}