.modal-open {
    .modal-below {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }

    .modal-above {
        min-height: 100vh;
        min-width: 100%;
        background: $color-black;
        position: relative;
        animation: setOpacity .3s linear forwards;
    }
}


.expand-modal {
    &-open-1,
    &-open-2 {
        @extend .ttl-xs;

        border: none;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        padding: to-rem(0) to-rem($F8);
        cursor: pointer;
        width: 100%;
        height: to-rem($F9);
        line-height: to-rem($F9);
        margin-bottom: to-rem($F7);
        transition: opacity .3s ease-in;
        text-transform: uppercase;
        font-weight: 900;

        @include layout-1440() {
            height: to-rem($F10);
            line-height: to-rem($F10);
        }
    }

    &-open-1 {
        opacity: 1;
        background-color: $color-grey-3;
        color: var(--white);

        .internal-expand:hover &,
        .internal-expand:focus & {
            opacity: 0;
        }
    }

    &-open-2 {
        transition: opacity .5s ease, width 1s linear, border-radius 1s ease;
        opacity: 0;
        background-color: var(--black);
        color: var(--white);
        mix-blend-mode: multiply;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;

        .internal-expand:hover &,
        .internal-expand:focus & {
            opacity: 1;
            width: to-rem(290);
            border-radius: to-rem($F9);
        }
    }

    &-close-bar {
        @extend %MAXAREA;
        left: 0;
        top: to-rem($F7);
        position: fixed;
        justify-content: space-between;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        z-index: 100;
        justify-content: flex-end;

        &-button {
            @extend .ttl-xs;

            color: var(--grey);
            font-weight: 700;
            cursor: pointer;
            z-index: 1;
        }
    }


    &-close-area {
        @extend %MAXAREA;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &-close-bottom {
        @extend .ttl-sm;

        margin: to-rem($F8);
        position: absolute;
        color: var(--white);
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }

    &-content {
        box-sizing: border-box;
        position: relative;
        overflow-x: scroll;
        background-color: var(--black);
        padding: to-rem($F10) to-rem($F8);

        @include layout-1024() {
            padding: to-rem($F12);
        }
    }

    &-media {
        &-figure {
            position: relative;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
        }

        &-placeholder {
            display: block;
            position: relative;
            height: auto;
            max-width: 100%;
        }

        &-item {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;

            @include layout-1024() {
                border-radius: to-rem($F7);
            }
        }
    }

    &-image,
    &-video {
        max-width: 100%;
    }
}

@keyframes setOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes unsetOpacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}