.modal-open {
    .modal-below {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }

    .modal-above {
        min-height: 100vh;
        min-width: 100%;
        background: $color-black;
        position: relative
    }
}


.expand-modal {
    &-open {
        @extend .ttl-xs;

        border: none;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid var(--grey-2);
        border-radius: 30px;
        max-width: 280px;
        width: 80%;
        height: 48px;
        background-color: var(--black);
        color: var(--white);
        cursor: pointer;
        line-height: 48px;

        &:hover,
        &:focus {
            text-decoration: line-through;
        }
    }

    &-close {
        position: fixed;
        top: 89px;
        right: 89px;
        color: $color-grey;
        font-size: 104px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 1;
    }

    &-content {
        box-sizing: border-box;
        position: relative;
        overflow-x: scroll;
        background-color: var(--black);
        padding: 104px;
    }

    &-media {
        border-radius: 5px;
        width: auto;
        height: auto;
        max-width: 100%;
        position: relative;
        display: block;
        margin: 0 auto;
    }

    &-image,
    &-video {
        max-width: 100%;
    }
}