@import '_variables';
@import '_mixins';
@import '_fonts';
@import '_placeholders';

.project {
    &-title {
        @extend .ttl-lg;

        padding: to-rem($F12);
        text-align: center;
    }

    &-main {
      box-sizing: border-box;
      width: 100%;
      background-color: var(--black);
      padding: to-rem($F12);

      &-item {
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 100vh;
        border-radius: to-rem($F7);
        display: block;
        position: relative;
        margin: 0 auto;
        object-fit: cover;
      }
    }

    &-description {
        max-width: to-rem($F15);
        margin: 0 auto;
        padding: to-rem($F12);

        &-text {
            @extend .txt-md;

            padding-bottom: to-rem($F8);
        }

        p::last-of-type {
            padding-bottom: 0;
        }
    }

    &-extra {
        width: 100%;
        box-sizing: border-box;
        background-color: var(--black);
        padding: to-rem($F12) to-rem($F12) to-rem($F12);
        overflow-x: hidden;
        list-style: none;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &-scroll {
            display: block;
            scroll-snap-type: x proximity;
            overflow-x: scroll;
            white-space: nowrap;
            scroll-snap-align: center;
        }

        &-item {
            position: relative;
            border-radius: to-rem($F5);
            color: var(--grey);
            display: inline-block;
            width: min-content;
            padding: 0 to-rem($F8);
            min-height: 100%;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }

            div {
                overflow: hidden;
                border-radius: to-rem($F7);
            }

            video, img {
                width: to-rem($F14);
                height: to-rem($F15);
                object-fit: cover;
                object-position: top center;
                border-radius: to-rem($F7);
            }

            &.landscape {
                video, img {
                    width: auto;
                }
            }

            label {
                @extend .ttl-xs;

                display: block;
                text-transform: uppercase;
                margin: 0;
                font-variant: all-small-caps;
                color: var(--white);
            }

            &-open {
                display: none;
                top: 0;
                left: 0;
                position: fixed;
                background: rgba(38, 38, 38, .9);
                min-height: 100vh;
                height: auto;
                width: 100vw;
                z-index: 1;

                img {
                    box-sizing: border-box;
                    padding: to-rem($F12);
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    &-footer {
        &-title {
            @extend .ttl-lg;

            text-transform: uppercase;
            padding-bottom: to-rem($F5);
            max-width: to-rem($F15);
            margin: 0 auto;
            padding: to-rem($F12) to-rem($F12) to-rem($F9) ;
        }

        &-related {
            @extend .txt-lg;

            max-width: to-rem($F15);
            margin: 0 auto;
            padding: 0 to-rem($F12) to-rem($F12);
            letter-spacing: to-rem(2);
            text-align: left;
            color: var(--black);
            list-style: inside circle;

            &-link {
                display: list-item;
                color: inherit;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: line-through;
                }

                &.router-link-active {
                    display: none;
                }
            }
        }


        &-contact {
            @extend .ttl-xs;
    
            text-align: center;
            color: var(--white);
            padding: to-rem($F8) to-rem($F12);
            background: var(--black);

            &-separator {
                padding: 0 to-rem($F5);
            }

            &-link {
                @extend .ttl-xs;

                color: inherit;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: line-through;
                }
            }
        }
    }
}


.carousel__pagination {
    position: absolute;
    bottom: to-rem($F12 * -1);
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__pagination-button {
    margin: to-rem($F7);
    width: to-rem($F7);
    height: to-rem($F7);
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--grey-2);
}

.carousel__prev,
.carousel__next {
    display: none;
}