RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.html [NC,L]

<IfModule mod_headers.c>
      Header set Surrogate-Control "max-age=31536000, public"

      <FilesMatch "\.(ico|gif|jpg|jpeg|png|webp|webm|mp4|eot|ttf|otf|woff|svg|pdf)$">
            Header set Cache-Control "max-age=31536000, public"
      </FilesMatch>
      <FilesMatch "\.(css|js|xml|txt|json)$">
            Header set Cache-Control "max-age=2592000, must-revalidate"
      </FilesMatch>
      <FilesMatch ".(eot|ttf|otf|woff)$">
            Header set Access-Control-Allow-Origin "*"
      </FilesMatch>
</IfModule>
