RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.html [NC,L]

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>

