<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>